# Mp4Grep Gitignore #######################
## Java ##
*.class

### Packages ###
*.jar

## Gradle ##
.gradle
/build/
!gradle-wrapper.jar

## IntelliJ ##
.idea

## Other ##
# Ignore MacOS files
.DS_Store
# Ignore temp fils
*.swp
##########################################
